.separateLine
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #13679D;
	border-right-color: #13679D;
	border-bottom-color: #13679D;
	border-left-color: #13679D;
}

.queryTitle
{
	font-family: "??";
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	height: 30px;
	text-align: left;
}

.queryLabelTD{
	font-family: "宋体";
	font-size: 12px;
	color: #003399;
	padding-right: 10px;
	height: 20px;
	text-align: right;
}

.queryFieldTD{
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	padding-left: 10px;
	height: 20px;
	text-align: left;
}


.detailTitle
{
	font-family: "??";
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	height: 30px;
	text-align: left;
}

.detailLabelTD
{
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	padding-right: 10px;
	height: 20px;
	text-align: right;
}
 
.detailFieldTD
{
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	padding-left: 10px;
	height: 20px;
	text-align: left;
}

.wfTable
{
	bordercolor:#C7C6B6;
	border-collapse:collapse;
}

.tableTitle
{
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	height: 30px;
	text-align: left;
}

.tableHeadTR
{
	height: 25px;
	font-family: "??";
	font-size: 13px;
	color: #000000;
	text-decoration: none;
	text-align: center;
	background-color: #C7C6C6;
}


.tableContentTR
{
	text-align: center;
	background-color: #F7F6F6;
	height: 25px;
	font-family: "??";
	font-size: 12px;
	color: #000000;
}

.inputText
{
 	background-color:"#FFFFFF";
 	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-align: left;
	height: 18px;
	width: 150px;
}
.inputRadio
{
	width: 150px;
}
.inputCheckbox
{
	width: 150px;
}
.inputSelect
{
	width: 150px;
}
.inputTextarea
{
}

.tb_blue {
	border-top-width: 2px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #0161AB;
	border-right-color: #0161AB;
	border-bottom-color: #0161AB;
	border-left-color: #0161AB;
}


.button
{

}


.tabstyle{
    border-right:0px solid #B6B5B5;
    border-bottom:0px solid #B6B5B5;
    border-left:1px solid #B6B5B5;
    border-top:0px solid #EEEEEE;
}

.top_meun {
	font-family: "宋体";
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #004D81;
	height: 22px;
}
.heise {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	background-color: #EEEEEE;
	height: 22px;
	padding-right: 40px;
	text-align: right;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

.tab {
	FONT-SIZE: 9pt;TEXT-ALIGN: center
}

.onetabcnt{
	border-right:1px solid #B6B5B5;
    	border-bottom:1px solid #B6B5B5;
    	border-left:1px solid #B6B5B5;
    	border-top:34px solid #EEEEEE;
    	background-color: #EEEEEE;
}

.tb_nr {
	height: 3px;
}

.gridtable{

}

.onetab{
	background:url("/internet/BNOM/images/tab1/disable.gif") no-repeat;
	border:0px;
	color:#FFFFFF;
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 10pt; CURSOR: hand; PADDING-TOP: 2px; TEXT-ALIGN: center
}

.tab_bj {
	background-repeat: repeat-x;
	background-color: #0063A6;
}

.login_css {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	text-align: right;
	height: 30px;
}
.login_bj {
	background-image: url(/internet/WFCOMMON/images/login/login_bj.gif);
	background-repeat: repeat-x;
	height: 43px;
}
.login_bk1 {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #B1B3B4;
	border-bottom-color: #B1B3B4;
	height: 320px;
}

.login_right {
	text-align: left;
	padding-left: 12px;
	font-family: "??";
	font-size: 12px;
	color: #000000;
}
.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
	text-decoration: none;
	height: 14px;
}
.denglu {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	height: 20px;
	width: 60px;
}

.listHead
{
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	background-color: #C7C6C6;
	height: 20px;
	line-height: 20px;
}
.listBtn
{
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	background-color: #EEEEEE;
	height: 20px;
	line-height: 20px;
}

.listRow1{
background:#FFFFFF;
font-family: "宋体";
font-size: 12px;
color: #000000;
height: 25px;
}

.listRow2{
background:#FFFFFF;
font-family: "宋体";
font-size: 12px;
color: #000000;
height: 25px;
}

.listFoot{
background-image:url('../img/gen_bg.gif');
height:25;
}

.listRowHigh{
background:#9DCDEE;
font-family: "宋体";
font-size: 12px;
color: #000000;
height: 25px;
}

.listRowSelected{
background:#F6F6A5;
}