a {
	font-family: "ו";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}
a:link { 
	color: #0000FF; 
	text-decoration: none
}
a:visited { 
	color: #0000FF; 
	text-decoration: none
}
a:active {
	color:green;
	text-decoration: none;
}
a:hover { 
	color: #FF0000;
	background-color:#ff9900;
	text-decoration: underline 
}

