.sort-table {
    font:14px "ו";
    color:#3d3d3d;
    text-decoration: none;	
	border-top: 1px solid #777568;
	border-right: 1px solid #777568;
	border-bottom: 1px solid #777568;
	border-left: 1px solid #777568;
}
 
.sort-table thead {
padding:3px 0px 0px 5px;
border-bottom: 1px solid #bfbfbf;
border-right: 1px solid #bfbfbf;
height:25px;
background-color:#B0C8F0

}

.sort-table td {
padding:3px 0px 0px 5px;
border-top: 1px solid #FFF;
border-left: 1px solid #FFF;
border-bottom: 1px solid #bfbfbf;
border-right: 1px solid #bfbfbf;
height:25px;
}

.sort-table thead td {
	cursor:			default;
}

.sort-table thead td:active {
	padding:		3px 4px 1px 6px;
}

.sort-table thead td[_sortType=None]:active {
	padding:		2px 5px;
}

.gridTR_over{
	background-color: #CADDFC;
}

.gridTR_selected{
	background-color: #AABBFF;
}



INPUT{
	FONT: 14px verdana,arial,helvetica;
	border: 1px solid #bdbdaf;
	height:20
}

DIV{
	font:14px;
}

A {
	color: #3C3C7E;
	text-decoration: none;
	cursor : hand;
	font:14px;
}

A:link {
	text-decoration: none;
}

A:hover {
	color: #000000;
	text-decoration: underline;
}

A:active {
	text-decoration: underline;
}

A:visited {
}

.skin1 {
	position:absolute;
	text-align:left;
	width:120px;
	border:2px solid black;
	background-color:menu;
	font-family:Verdana;
	line-height:20px;
	cursor:default;
	visibility:hidden;
}

.skin0 {
	cursor:default;
	font:menutext;
	position:absolute;
	text-align:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	width:120px;
	background-color:menu;
	border:1 solid buttonface;
	visibility:hidden;
	border:2 outset buttonhighlight;
}

.menuitems {
	height:20px;
	padding-top : 2px;
	text-align: center;
	line-height:20px;
}

.cellbtdown
{
 BORDER-RIGHT: #FFFFFF 2px solid;
 PADDING-RIGHT: 2px;
 BORDER-TOP: #6686A6 2px solid;
 PADDING-LEFT: 2px;
 FONT-SIZE: 12px;
 FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#EAE8Ef, EndColorStr=#B6CAE4);
 BORDER-LEFT: #6686A6 2px solid;
 CURSOR: hand;
 COLOR: black;
 PADDING-TOP: 2px;
 BORDER-BOTTOM: #FFFFFF 2px solid
}

.cellbtover
{
 BORDER-RIGHT: #6686A6 2px solid;
 PADDING-RIGHT: 2px;
 BORDER-TOP: #FFFFFF 2px solid;
 PADDING-LEFT: 2px;
 FONT-SIZE: 12px;
 FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#EAE8Ef, EndColorStr=#B6CAE4);
 BORDER-LEFT: #FFFFFF 2px solid;
 CURSOR: hand;
 COLOR: black;
 PADDING-TOP: 2px;
 BORDER-BOTTOM: #6686A6 2px solid
}
