DIV {
	WORD-BREAK: break-all
}
A:link {
	FONT-SIZE: 9pt; COLOR: #ff66ff; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #ff66ff; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #ff9900; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 95px 20px 0px 10px; COLOR: #0099ff; PADDING-TOP: 0px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H1 A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 15pt; COLOR: #0099ff; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H1 A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 15pt; COLOR: #0099ff; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H1 A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 15pt; COLOR: #0099ff; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H2.diaryTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 5px
}
H3 {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 5px; MARGIN: 28px 0px 5px; COLOR: #333333; PADDING-TOP: 3px; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
H4 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 0px 10px; COLOR: #0099ff; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; MARGIN: 0px; COLOR: #ff9900; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #aaaaaa; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #aaaaaa; SCROLLBAR-SHADOW-COLOR: #aaaaaa; SCROLLBAR-3DLIGHT-COLOR: #eeeeee; SCROLLBAR-ARROW-COLOR: #00ccff; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #000000; TEXT-ALIGN: center
}
TD {
	FONT-SIZE: 9pt
}
DIV#container {
	BORDER-RIGHT: #000000 1px solid; MARGIN: 0px auto; BORDER-LEFT: #000000 1px solid; WIDTH: 960px
}
DIV#header {
	BACKGROUND: url(http://blog.blogchina.com/template/template13/img/header.gif) repeat-x 0px 0px; HEIGHT: 180px
}
.textStyle {
	FONT-SIZE: 9pt; WIDTH: 430px; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
INPUT {
	BORDER-RIGHT: #4c4c4c 1px solid; BORDER-TOP: #ffffff 1px solid; MARGIN-TOP: 5px; FONT-SIZE: 9pt; MARGIN-BOTTOM: 5px; BORDER-LEFT: #ffffff 1px solid; WIDTH: auto; COLOR: #000000; LINE-HEIGHT: 18px; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #4c4c4c 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 19px; BACKGROUND-COLOR: #cccccc; TEXT-DECORATION: none
}
INPUT.inputStyle {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #333333 1px solid; COLOR: #666666; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 18px
}
DIV.entity {
	BORDER-RIGHT: #a2a5a9 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #a2a5a9 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 10px; MARGIN: 10px 10px 0px; BORDER-LEFT: #a2a5a9 1px solid; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #a2a5a9 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
DIV#category {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 20px 10px 0px; COLOR: #666666; PADDING-TOP: 2px; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 27px
}
DIV#category A:link {
	FONT-SIZE: 11pt; COLOR: #ff66ff; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
DIV#category A:visited {
	FONT-SIZE: 11pt; COLOR: #ff66ff; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
DIV#category A:hover {
	FONT-SIZE: 11pt; COLOR: #ff9900; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
DIV.operation {
	BORDER-RIGHT: #bebebe 1px solid; BORDER-TOP: #bebebe 1px solid; BACKGROUND: #eeeeee; MARGIN: 10px 10px 0px; BORDER-LEFT: #bebebe 1px solid; BORDER-BOTTOM: #bebebe 1px solid; TEXT-ALIGN: center
}
P {
	FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
P.comment {
	MARGIN: 10px 0px 10px 30px
}
P.diaryFoot {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: black; PADDING-TOP: 2px; HEIGHT: 10px; TEXT-ALIGN: right
}
P.trackback {
	FONT-STYLE: italic
}
TABLE.comment {
	MARGIN-LEFT: 230px
}
DIV#footer {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: center 50%; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://blog.blogchina.com/template/template13/img/footer.gif); PADDING-BOTTOM: 0px; WIDTH: 960px; PADDING-TOP: 0px; HEIGHT: 34px; TEXT-ALIGN: center
}
DIV#footer A:link {
	FONT-SIZE: 9px; COLOR: black; PADDING-TOP: 10px; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
DIV#footer A:visited {
	FONT-SIZE: 9px; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
DIV#footer A:hover {
	FONT-SIZE: 9px; COLOR: #0099ff; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
IMG.logo {
	MARGIN: 5px 15px -3px 0px
}
