DIV {
	WORD-BREAK: break-all
}
A:link {
	FONT-SIZE: 9pt; COLOR: #666666; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #999999; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: underline
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 16pt; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px 10px; COLOR: #282851; PADDING-TOP: 0px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H1 A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #282851; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H1 A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #282851; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H1 A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #282851; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #4e5c76; BORDER-BOTTOM: #cccccc 1px dashed; FONT-FAMILY: Arial,Helvetica,sans-serif
}
H2.diaryTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 5px
}
H3 {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(/template/template30/img/entry_2.gif); PADDING-BOTTOM: 5px; MARGIN: 10px 0px 5px; COLOR: #333333; PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
H4 {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 0px 10px; COLOR: #4e5c76; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; MARGIN: 0px; COLOR: #ff9900; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #e8e8e8; BACKGROUND: url(/template/template30/img/basebg.gif) #999999; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; SCROLLBAR-HIGHLIGHT-COLOR: #e8e8e8; SCROLLBAR-SHADOW-COLOR: #e8e8e8; SCROLLBAR-3DLIGHT-COLOR: #f7f7f7; SCROLLBAR-ARROW-COLOR: #00ccff; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #d9e7ee; SCROLLBAR-DARKSHADOW-COLOR: #999999; TEXT-ALIGN: center
}
TD {
	FONT-SIZE: 9pt
}
DIV#container {
	MARGIN: 0px auto; WIDTH: 920px
}
DIV#header {
	HEIGHT: 55px
}
.textStyle {
	FONT-SIZE: 9pt; WIDTH: 430px; COLOR: #666666; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
INPUT {
	BORDER-RIGHT: #4c4c4c 1px solid; BORDER-TOP: #ffffff 1px solid; MARGIN-TOP: 5px; FONT-SIZE: 9pt; MARGIN-BOTTOM: 5px; BORDER-LEFT: #ffffff 1px solid; WIDTH: auto; COLOR: #000000; LINE-HEIGHT: 18px; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #4c4c4c 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 19px; BACKGROUND-COLOR: #cccccc; TEXT-DECORATION: none
}
INPUT.inputStyle {
	BORDER-RIGHT: #8a96a8 1px solid; BORDER-TOP: #8a96a8 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #8a96a8 1px solid; COLOR: #666666; BORDER-BOTTOM: #8a96a8 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 18px; BACKGROUND-COLOR: white
}
DIV.entity {
	BORDER-RIGHT: #8a96a8 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #8a96a8 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 10px; MARGIN: 12px 10px 0px; BORDER-LEFT: #8a96a8 1px solid; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #8a96a8 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #fffff4; TEXT-ALIGN: left
}
DIV.entity IMG {
	; WIDTH: expression(this.width > 800 ? "800px" : this.width); ; HEIGHT: expression(this.width > 800 ? ((800*this.width/this.height)): this.height); max-width: 800px
}
DIV.operation {
	BORDER-RIGHT: #8a96a8 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #8a96a8 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; MARGIN: 0px 10px; BORDER-LEFT: #8a96a8 1px solid; PADDING-TOP: 0px; HEIGHT: 100%; TEXT-ALIGN: center
}
P {
	FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
P.comment {
	MARGIN: 10px 0px 10px 30px
}
P.diaryFoot {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #4e5c76; PADDING-TOP: 2px; HEIGHT: 10px; TEXT-ALIGN: right
}
P.trackback {
	FONT-STYLE: italic
}
TABLE.comment {
	MARGIN-LEFT: 130px; WIDTH: 570px
}
DIV#footer {
	BORDER-TOP: #8a96a8 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 900px; PADDING-TOP: 5px; HEIGHT: 13px; TEXT-ALIGN: center
}
DIV#footer A:link {
	FONT-SIZE: 9px; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
DIV#footer A:visited {
	FONT-SIZE: 9px; COLOR: black; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
DIV#footer A:hover {
	FONT-SIZE: 9px; COLOR: #0099ff; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-DECORATION: none
}
IMG.logo {
	MARGIN: 5px 15px -3px 0px
}
